@model IEnumerable<DHBooks.Models.Role>

@{
    ViewData["Title"] = "Quản lý loại tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Quản lý loại tài khoản</h1>

<p>
    <a class="btn btn-primary btn-tone m-r-5" asp-action="Create">Tạo mới</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.RoleId</th>
                        <td>@item.RoleName</td>
                        <td>
                            <a class="btn btn-info m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Details" asp-route-id="@item.RoleId">Thông tin</a>
                            <a class="btn btn-warning m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Edit" asp-route-id="@item.RoleId">Sửa</a>
                            <a class="btn btn-danger m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Delete" asp-route-id="@item.RoleId">Xóa</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
